body{
    margin: 0;
    padding: 0;
    background: #FFE3DC;
}
.field {
    border: solid 1px #EDAF97;
    padding: 10px;
    margin-top: 10px;
}
.encabezado{
    width: 100%;
    height: 100px;
    left: auto
}
.encabezado
.p1{
    width: 90%;
    height: auto;
    margin: 3% auto;
    padding: 10px;
    /*width: 50%;
    height: 50%;*/
    position: absolute;
    color: white;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    left: 0% 
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button] {
    background-color: #FE938C;
    color: white;
    font-weight: bolder;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=button]:hover {
    background-color: #EC91D8;
}

.container {
    width: 70%;
    height: 50PX;
    background-color: #BFA4A4;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.formulario {
    width: 70%;
    height: auto;
    border-radius: 10px;
    background: #D1ABAD;
    margin: 3% auto;
    padding: 50px;
}

.col-25 {
    float: left;
    width: 25%; 
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] 
    {
        width: 100%; /*100*/
        margin-top: 0;
    }
}

.btn-editar {
    background-color: #3a95c0;
    color: white;
    padding: 7px 10px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-borrar {
    background-color: #b8463e;
    color: white;
    padding: 7px 12px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}